In [36]:
import tensorflow_datasets as tfds
import pandas as pd

In [2]:
# help(tfds)

### Here, Downloading the shoes data from the url and storing in a dataframe.

In [31]:
df, info = tfds.load('amazon_us_reviews/Shoes_v1_00', split='train[-12000:]', with_info=True)
# df, info = tfds.load('amazon_us_reviews/Shoes_v1_00', split='train[:1000]', with_info=True,num_parallel_reads=16)

# subset_dataset = tfds.Subset(df, range(1000))  # Extract first 1000 examples

In [32]:
dfr = tfds.as_dataframe(df)

In [33]:
dfr.head(5)

,data/customer_id,data/helpful_votes,data/marketplace,data/product_category,data/product_id,data/product_parent,data/product_title,data/review_body,data/review_date,data/review_headline,data/review_id,data/star_rating,data/total_votes,data/verified_purchase,data/vine
0,b'43462123',0,b'US',b'Shoes',b'B00LGA508K',b'502107379',b'adidas Performance Hyperfast EL K Running Sh...,b'Perfect shoes for school',b'2015-08-04',b'Five Stars',b'R1QC8AKHF8SLW1',5,0,0,1
1,b'49300623',6,b'US',b'Shoes',b'B0002I134C',b'685907510',"b""Ariat Women's Fatbaby Boot""","b""Very stylish and well-built. Super-comfy fro...",b'2005-10-03',"b""Love 'em""",b'R37BJR03FLXN21',5,7,0,1
2,b'28960432',0,b'US',b'Shoes',b'B001MV79V4',b'987123898',"b""New Balance Men's MX608V2 Training Shoe""",b'This shoe fit better than expected for a men...,b'2013-09-29',b'Good shoe',b'R3VE1VKBE5ND30',5,0,0,1
3,b'30328516',0,b'US',b'Shoes',b'B009DY0VUS',b'119026744',"b""Circa Joan & David Women's Yolande Wedge Pump""",b'The shoes fit very true to size. The price ...,b'2013-09-19',b'The perfect shoe',b'RV3Q7ET6WJOE1',4,0,0,1
4,b'2557792',0,b'US',b'Shoes',b'B00B51D85M',b'868214444',"b""Clarks Men's Senner Lane Slip-On""","b'It is very light, it is comfortable, just a ...",b'2015-05-13',"b'it is comfortable, just a little'",b'R2UZMGWIVCHLHW',4,0,0,1

# 1. Data Preparation

### Storing the extracted last 12000 rows from the shoes dataset in the CSV file.

In [25]:
dfr.to_csv("shoes_dataset.csv",index=False)

### Loading data from the csv file

In [108]:
df = pd.read_csv("shoes_dataset.csv")

## 1.1 Querying the data

In [109]:
df.head(5)

,data/customer_id,data/helpful_votes,data/marketplace,data/product_category,data/product_id,data/product_parent,data/product_title,data/review_body,data/review_date,data/review_headline,data/review_id,data/star_rating,data/total_votes,data/verified_purchase,data/vine
0,b'31517414',0,b'US',b'Shoes',b'B008J4SREA',b'411790122',"b""Merrell Women's Sweetpea Sandal""",b'Very comfortable and look nice with capris a...,b'2014-07-24',b'Five Stars',b'RF61A7Z3YIUX2',5,0,0,1
1,b'12193208',0,b'US',b'Shoes',b'B00JLOVBDG',b'98417409',b'Vera Bradley Hipster Cross-Body Bag',b'Beautiful color pattern',b'2015-08-28',b'Five Stars',b'R3PRTUAMZTAK5D',5,0,0,1
2,b'44251608',2,b'US',b'Shoes',b'B007RF63FC',b'928002483',"b""Khombu Women's Spruce Boot""","b'These boots are stylish, comfortable and can...",b'2013-10-10',b'Excellent Product',b'R22YVKLAVI6946',5,2,0,1
3,b'31911060',0,b'US',b'Shoes',b'B008GVWJ1S',b'863644697',"b""New Balance Men's MX623 Cross-Training Shoe,...","b""I needed a comfortable pair of shoes that ar...",b'2014-08-27',b'The most comfortable pair of sneakers I own',b'R1VSXTHMGBSJUJ',5,0,0,1
4,b'27570521',0,b'US',b'Shoes',b'B00BTWKD96',b'569897119',"b""Steve Madden Women's Albany Boot""","b""I am a solid size 9 across the board, but th...",b'2013-12-01',b'Classy Boot!',b'R3GMGX22ISB93Z',5,0,0,1

In [110]:
df.tail(5)

,data/customer_id,data/helpful_votes,data/marketplace,data/product_category,data/product_id,data/product_parent,data/product_title,data/review_body,data/review_date,data/review_headline,data/review_id,data/star_rating,data/total_votes,data/verified_purchase,data/vine
11995,b'36773602',0,b'US',b'Shoes',b'B00APCNGIG',b'71400545',b'Sperry Top-Sider Halyard Laceless Boat Shoe ...,"b""My kid must have wide feet because they were...",b'2015-01-02',b'Narrow fit',b'R3FP5TJR3LG43R',3,0,0,1
11996,b'39858358',0,b'US',b'Shoes',b'B001UQ71HI',b'37535108',b'Ray-Ban 3025 Aviator Large Metal Mirrored No...,"b'BEAUTYFUL , VERY GOOD , THE PRICE EXCELENT ,...",b'2012-12-27',b'RAY -BAN RB 3025 AVIATOR',b'RZ38XE007QQWC',5,0,0,1
11997,b'29700770',0,b'US',b'Shoes',b'B00DDUZL0I',b'716000609',b'Onitsuka Tiger Mexico 66 Slip-On Shoe',"b""Let me start off saying I LOVE these shoes. ...",b'2014-09-22',"b'Awesome shoes, but narrow!!'",b'RU7217TJGHEK',3,0,0,1
11998,b'40481116',1,b'US',b'Shoes',b'B00ASTUBRU',b'67989583',"b""Teva Women's Kimtah Waterproof Mesh Hiking S...","b""I got these hiking shoes for my wife and she...",b'2015-02-04',b'... hiking shoes for my wife and she loves h...,b'R3J2R1E1V8BD7G',5,2,0,1
11999,b'3002241',0,b'US',b'Shoes',b'B009MWZEIA',b'541442725',b'zeroUV - Retro Large Plastic Aviator Sunglas...,b'- 2S CUZ PLASTIC BREAKS VERY EASILY ABOVE NO...,b'2014-06-10',b'GREAT LENSES',b'R22M5XFED3T9N2',3,0,0,1

### Descriptive Analysis
Checking total number of rows and columns

In [111]:
df_rows, df_columns = df.shape
print(f"Dataset has {df_rows} rows and {df_columns} columns.")

Dataset has 12000 rows and 15 columns.

## 1.2 Data Cleaning
 In this step, we are modifying the original column names to make them more readable and relevant to our analysis.

In [112]:
df.columns

Index(['data/customer_id', 'data/helpful_votes', 'data/marketplace',
       'data/product_category', 'data/product_id', 'data/product_parent',
       'data/product_title', 'data/review_body', 'data/review_date',
       'data/review_headline', 'data/review_id', 'data/star_rating',
       'data/total_votes', 'data/verified_purchase', 'data/vine'],
      dtype='object')

In [113]:
df = df.rename(columns={'data/customer_id' : 'customer_id',
                        'data/helpful_votes' : 'helpful_votes', 
                        'data/marketplace':'marketplace',
                        'data/product_category':'product_category', 
                        'data/product_id':'product_id', 
                        'data/product_parent':'product_parent',
                        'data/product_title':'product_title', 
                        'data/review_body':'review_body',
                        'data/review_date':'review_date',
                        'data/review_headline':'review_headline',
                        'data/review_id':'review_id',
                        'data/star_rating':'star_rating',
                        'data/total_votes':'total_votes',
                        'data/verified_purchase':'verified_purchase',
                        'data/vine':'vine'
                       })

In [114]:
df.head(2)

,customer_id,helpful_votes,marketplace,product_category,product_id,product_parent,product_title,review_body,review_date,review_headline,review_id,star_rating,total_votes,verified_purchase,vine
0,b'31517414',0,b'US',b'Shoes',b'B008J4SREA',b'411790122',"b""Merrell Women's Sweetpea Sandal""",b'Very comfortable and look nice with capris a...,b'2014-07-24',b'Five Stars',b'RF61A7Z3YIUX2',5,0,0,1
1,b'12193208',0,b'US',b'Shoes',b'B00JLOVBDG',b'98417409',b'Vera Bradley Hipster Cross-Body Bag',b'Beautiful color pattern',b'2015-08-28',b'Five Stars',b'R3PRTUAMZTAK5D',5,0,0,1

#### Here, in the dataset we can clearly see that most of the columns has the row starting with the value 'b' prefix. The error related to 'b""' or 'b'' in the dataframe columns is caused by the fact that some of the values in the columns are byte strings. These byte strings need to be converted to regular strings.

### Querying the columns data before cleaning

In [129]:
df[['customer_id','product_title','review_body']]

,customer_id,product_title,review_body
0,31517414,Merrell Women's Sweetpea Sandal,Very comfortable and look nice with capris and...
1,12193208,Vera Bradley Hipster Cross-Body Bag,Beautiful color pattern
2,44251608,Khombu Women's Spruce Boot,"These boots are stylish, comfortable and can b..."
3,31911060,"New Balance Men's MX623 Cross-Training Shoe,Na...",I needed a comfortable pair of shoes that are ...
4,27570521,Steve Madden Women's Albany Boot,"I am a solid size 9 across the board, but thes..."
...,...,...,...
11995,36773602,Sperry Top-Sider Halyard Laceless Boat Shoe (L...,My kid must have wide feet because they were t...
11996,39858358,Ray-Ban 3025 Aviator Large Metal Mirrored Non-...,"BEAUTYFUL , VERY GOOD , THE PRICE EXCELENT , T..."
11997,29700770,Onitsuka Tiger Mexico 66 Slip-On Shoe,Let me start off saying I LOVE these shoes. St...
11998,40481116,Teva Women's Kimtah Waterproof Mesh Hiking Shoe,I got these hiking shoes for my wife and she l...
11999,3002241,zeroUV - Retro Large Plastic Aviator Sunglasse...,- 2S CUZ PLASTIC BREAKS VERY EASILY ABOVE NOSE...

In [130]:
print(df.dtypes)

customer_id          object
helpful_votes         int64
marketplace          object
product_category     object
product_id           object
product_parent       object
product_title        object
review_body          object
review_date          object
review_headline      object
review_id            object
star_rating           int64
total_votes           int64
verified_purchase     int64
vine                  int64
dtype: object

In [118]:
df.head(5)

,customer_id,helpful_votes,marketplace,product_category,product_id,product_parent,product_title,review_body,review_date,review_headline,review_id,star_rating,total_votes,verified_purchase,vine
0,b'31517414',0,b'US',b'Shoes',b'B008J4SREA',b'411790122',"b""Merrell Women's Sweetpea Sandal""",b'Very comfortable and look nice with capris a...,b'2014-07-24',b'Five Stars',b'RF61A7Z3YIUX2',5,0,0,1
1,b'12193208',0,b'US',b'Shoes',b'B00JLOVBDG',b'98417409',b'Vera Bradley Hipster Cross-Body Bag',b'Beautiful color pattern',b'2015-08-28',b'Five Stars',b'R3PRTUAMZTAK5D',5,0,0,1
2,b'44251608',2,b'US',b'Shoes',b'B007RF63FC',b'928002483',"b""Khombu Women's Spruce Boot""","b'These boots are stylish, comfortable and can...",b'2013-10-10',b'Excellent Product',b'R22YVKLAVI6946',5,2,0,1
3,b'31911060',0,b'US',b'Shoes',b'B008GVWJ1S',b'863644697',"b""New Balance Men's MX623 Cross-Training Shoe,...","b""I needed a comfortable pair of shoes that ar...",b'2014-08-27',b'The most comfortable pair of sneakers I own',b'R1VSXTHMGBSJUJ',5,0,0,1
4,b'27570521',0,b'US',b'Shoes',b'B00BTWKD96',b'569897119',"b""Steve Madden Women's Albany Boot""","b""I am a solid size 9 across the board, but th...",b'2013-12-01',b'Classy Boot!',b'R3GMGX22ISB93Z',5,0,0,1

In [119]:
import re

# Define a regular expression pattern to match the 'b"' prefix
pattern = re.compile(r"^b['\"](.*)['\"]$")

# Define a list of column names that should not have the prefix removed
int_columns = ['helpful_votes', 'star_rating', 'total_votes', 'verified_purchase', 'vine']

# Apply the pattern to each element of the dataframe
for col in df.columns:
    if col not in int_columns:
        df[col] = df[col].apply(lambda x: pattern.match(x).group(1) if isinstance(x, str) and pattern.match(x) else x)

In [84]:
# df = df.applymap(lambda x: x.decode('utf-8').strip("b'") if isinstance(x, bytes) else str(x).strip("b''"))

In [126]:
df.head(5)

,customer_id,helpful_votes,marketplace,product_category,product_id,product_parent,product_title,review_body,review_date,review_headline,review_id,star_rating,total_votes,verified_purchase,vine
0,31517414,0,US,Shoes,B008J4SREA,411790122,Merrell Women's Sweetpea Sandal,Very comfortable and look nice with capris and...,2014-07-24,Five Stars,RF61A7Z3YIUX2,5,0,0,1
1,12193208,0,US,Shoes,B00JLOVBDG,98417409,Vera Bradley Hipster Cross-Body Bag,Beautiful color pattern,2015-08-28,Five Stars,R3PRTUAMZTAK5D,5,0,0,1
2,44251608,2,US,Shoes,B007RF63FC,928002483,Khombu Women's Spruce Boot,"These boots are stylish, comfortable and can b...",2013-10-10,Excellent Product,R22YVKLAVI6946,5,2,0,1
3,31911060,0,US,Shoes,B008GVWJ1S,863644697,"New Balance Men's MX623 Cross-Training Shoe,Na...",I needed a comfortable pair of shoes that are ...,2014-08-27,The most comfortable pair of sneakers I own,R1VSXTHMGBSJUJ,5,0,0,1
4,27570521,0,US,Shoes,B00BTWKD96,569897119,Steve Madden Women's Albany Boot,"I am a solid size 9 across the board, but thes...",2013-12-01,Classy Boot!,R3GMGX22ISB93Z,5,0,0,1

In [127]:
df['product_title']

0                          Merrell Women's Sweetpea Sandal
1                      Vera Bradley Hipster Cross-Body Bag
2                               Khombu Women's Spruce Boot
3        New Balance Men's MX623 Cross-Training Shoe,Na...
4                         Steve Madden Women's Albany Boot
                               ...
11995    Sperry Top-Sider Halyard Laceless Boat Shoe (L...
11996    Ray-Ban 3025 Aviator Large Metal Mirrored Non-...
11997                Onitsuka Tiger Mexico 66 Slip-On Shoe
11998      Teva Women's Kimtah Waterproof Mesh Hiking Shoe
11999    zeroUV - Retro Large Plastic Aviator Sunglasse...
Name: product_title, Length: 12000, dtype: object

In [124]:
print(df.dtypes)

customer_id          object
helpful_votes         int64
marketplace          object
product_category     object
product_id           object
product_parent       object
product_title        object
review_body          object
review_date          object
review_headline      object
review_id            object
star_rating           int64
total_votes           int64
verified_purchase     int64
vine                  int64
dtype: object